<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <!-- Css,Script -->
    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)

</head>
<body>
    <!-- Banner -->
    @await Html.PartialAsync("_Banner2Partial.cshtml")

    <!-- Body -->
    @RenderBody()

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>		