@model PesonalShopSolution.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="account-in">
    <div class="container">
        <h3>Account</h3>
        <div class="col-md-7 account-top">
            <form method="post">
                <div>
                    <span>Email</span>
                    <input type="text" asp-for="Email">
                    <span asp-validation-for="Email" style="color:red;"></span>
                </div>
                <div>
                    <span class="pass">Password</span>
                    <input type="password" asp-for="Password">
                    <span asp-validation-for="Password" style="color:red;"></span>
                    @Html.ValidationMessage("CustomError", new { @style = "color:blue;" })
                </div>

                <input type="submit" value="Login">
            </form>
        </div>
        <div class="col-md-5 left-account ">
            <a asp-controller="Home" asp-action="Single"><img class="img-responsive " src="~/user/images/s4.jpg" alt="" /></a>
            <div class="five-in">
                <h1>35% </h1><span>discount</span>
            </div>
            <a asp-controller="Home" asp-action="Register" class="create">Create an account</a>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}