@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Watches Shop 
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="UserProfile">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"  asp-controller="Brands" asp-action="Index">
                    <i class="material-icons">content_paste</i>
                    <p>Brands</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Products" asp-action="Index">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                    <p>Manage Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Specifications" asp-action="Index">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    <p>Manage Specifications</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Orders" asp-action="Index">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <p>Manage Orders</p>
                </a>
            </li>
  
            <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>